
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginSuccess</title>
</head>
<body>
    @ViewBag.Message
</body>
</html>

