@model coreWebApplication.Models.LoginViewModel


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserDetails</title>
</head>
<body>
    <h2>User Details</h2>
    <p>Username:@Model.Username</p>
    <p>Username:@Model.Password</p>
</body>
</html>
